/* - - - - Fonts - - - - */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800');


/* - - - - Beginning of common styles - - - - - */

*{
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    text-decoration: none;
	transition: all 1s;
	
	
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

body {
	margin: 0;
}

.title-h2 {
    color: #061e37;
    font-size: 40px;
    font-weight: 600;
	text-align: center;
	margin: 0 auto;
    
}

.title-p {
    color: #b0bec5;
    max-width: 560px;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
}

/* - - - - End of common styles - - - - - */




/* - - - - Beginning of styles for header - - - - */


/* - - - - Beginning styles for row-1 <header> - - - - */
.header-container {
    color: #fff;
    min-height: 750px;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;    
}

.header-row-1 {
    padding-top: 60px;

}

.main-menu {
    display: flex;
    justify-content: center;
}

.main-menu a {
    color: #fff;
    margin: 0 22px;
    outline: none;
    transition: .4s;

}

.header-row-1 a:hover,
.header-row-1 input[type=submit]:hover,
.header-row-1 a:focus,
.header-row-1 input[type=submit]:focus {
    color: #061e37;
    border-color: #061e37;
}

.sing-up {
    background: none;
    border: 1px solid #fff;
    border-radius: 1px;
    color: #fff;
    float: right;
    margin-top: 5px;
    outline: none;
    padding: 5px 20px;
    transition: .4s;
    
}
/* - - - - End of styles for row-1 <header> - - - - */




/* - - - - Beginning of styles for row-2 <header> - - - - */
.header-row-2 {
    margin-top: 165px;
}

.header-row-2 h1 {
    font-size: 45px;
    font-weight: 900;
}

.header-row-2 p {
    line-height: 30px;
    margin-bottom: 50px;
    max-width: 580px;
}


.header-row-2 a {
    background-color: #fff;
    border-radius: 5px;
    color: #061e37;
    font-weight: 600;
    margin: 40px 15px 0 0;
    outline: none;
    padding: 15px 25px;
    transition: 1.1s;
}

.header-row-2 a:hover, .header-row-2 a:focus {
    background-color: #061e37;
    color: #fff;
}

.header-video video{
    max-width: 450px;
    transition: .5s;
}

@media (min-width: 1200px) {
    .header-video video {
        max-width: 550px;
        min-height: 250px;
    }
}
/* - - - - End of styles for row-2 <header> - - - - */

/* - - - - End of styles for header - - - - */





/* - - - - Beginning of styles for Easy & Use  - - - - */


/* - - - - Beginnning of styles for row-1 <Easy Us> - - - - - */
.es-us {
    margin-top: 100px;
    text-align: center;
}


.es-us-subtitle {
    color: #b0bec5;
    font-size: 25px;
    font-weight: 600;
}
/* - - - - End of styles for row-1 <Easy Us> - - - - - */




/* - - - - Beginnning of styles for row-2 <Easy Us> - - - - - */

.es-us-row-2 {
    margin-top: 95px;
    text-align: center;
}


.reason-we {
	justify-content: center;
    text-align: center;
	margin-right: 0;
}

.reason-we h4 {
    color: #061e37;
    font-size: 20px;
    margin-top: 40px;
    
}

.reason-we p {
    color: #78909c;
    font-size: 15px;
    max-width: 345px;
	margin: 20px auto 0 auto;
    
}

.es-us-start {
    background-color: #1de9b6;
    border-radius: 8px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    outline: none;
    padding: 18px 20px;
    text-align: center;
    transition: 1.1s;
    margin: 0 auto;
    margin-top: 80px;
    font-weight: 600;
}


.es-us-start:hover, .es-us-start:focus {
    background-color: #061e37;
}
/* - - - - End of styles for row-2 <Easy Us> - - - - - */




/* - - - - Beginning of styles for row-3 <Easy Us> - - - - - */
.es-us-row-3 {
    padding: 0;
    margin-top: 100px;
}


.es-us-row-3 > .col-lg-3 img {
    margin: 0 25px 0 80px;
}

@media (max-width: 1240px) {
    .es-us-row-3 > .col-lg-3 img {
    margin: 0 25px 0 10px;
    transition: 1.3s;
    transition-timing-function: ease-in-out;
}
}

.statistic-block-1,
.statistic-block-2,
.statistic-block-3,
.statistic-block-4 {
    align-items: center;
    background-color: silver;
    color: #fff;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    height: 150px;
}

.statistic-block-1 {
    background-color: #80d8ff;
}

.statistic-block-2 {
    background-color: #82b1ff;
}

.statistic-block-3 {
    background-color: #b388ff;
}

.statistic-block-4 {
    background-color: #ea80fc;
}
/* - - - - End of styles for row-3 <Easy Us> - - - - - */

/* - - - - End of styles for Easy & Use - - - - - - */






/* - - - - Beginning of styles for Services  - - - - */

.services {
    color: #061e37;
    margin-top: 100px;
    text-align: center;
}


.services-title p{
    margin: 20px auto 50px auto;
}




/* - - - - Beginning of styles for slider <Services> - - - - */
.slider {
	max-width: 800px;
    margin: 0 auto;
}


.slider-head {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    display: flex;
	margin: 0 auto;
	text-align: center;
    padding: 20px 0 10px 0;
}


.slider-head label {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.slider-head img {
    align-self: center;
    margin: 0 20px 0 10px;
}


.hidden{
    display: flex;
    display: none;
	line-height: 25px;
    transition: 2s;
	text-align: left;
    min-height: 240px;
    padding-top: 50px;
    
}

.services-show-info-1:checked ~ .row .slider-contaier .slider .hidden-content-1, 
.services-show-info-2:checked ~ .row .slider-contaier .slider .hidden-content-2, 
.services-show-info-3:checked ~ .row .slider-contaier .slider .hidden-content-3, 
.services-show-info-4:checked ~ .row .slider-contaier .slider .hidden-content-4, 
.services-show-info-5:checked ~ .row .slider-contaier .slider .hidden-content-5 {
	display: flex; 
	animation: visibility 1s;
	animation-fill-mode: forwards;
}

@keyframes visibility {
	0% {
		opacity: 0.20;	
		transform: scale(0.60);
		
	}
	
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
/* - - - - End of styles for slider <Services> - - - - */





/* - - - - Beginning of styles for Comments <Services> - - - - - */
.comments {
	background-image: url(../img/services-bg.jpg);
	background-repeat: no-repeat;
	height: 565px;
	margin-top: 100px;
	justify-content: space-around;
}


.comments-title {
	color: #fff;
	padding: 0;
	margin-top: 135px;
	max-width: 520px;
	text-align: left;
}

.comments-title h2 {
	font-size: 45px;
	font-weight: 500;
}

.comments-title p {
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 65px;
	
}

.comments-start {
	background-color: #061e37;
	border-radius: 5px;
	color: #fff;
	font-weight: 600;
	padding: 20px;
	margin-left: 10px;
	transition: 1.2s;
}

.comments-start:hover,
.comments-start:focus {
	background-color: #fff;
	color: #061e37;
	outline: none;
	transition: 1.2s;
}
/* - - - - End of styles for Comments <Services> - - - - - */





/* - - - - Beginning of styles for Block commentary <Comments > - - - - */
.block-commentary {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0;
	padding-top: 88px;
	
}

.commentary-avatar {
	align-self: center;
	margin-right: 50px;
}


.commentary-1,
.commentary-2 {
	display: flex;
	text-align: left
}


.commentary {
	background-color: #fff;
	border-radius: 5px;
	padding: 30px 60px 14px 30px;
	color: #78909c;
	
}

.commentary h4 {
	color: #061e37;
}
/* - - - - End of styles for Block commentary <Comments > - - - - */

/* - - - - End of styles for Services - - - - */






/* - - - - Beginning of styles for Our Team - - - - */
.our-team {
	margin-top: 100px;
}


.our-team-avatar {
	display: flex;
	justify-content: center;
}


.avatar{
	transform: scale(0.70);
	opacity: 0.35;
	transition: 3s;
}

.our-team-block-info {
	margin: 0 auto;
	text-align: center;
}

.our-team-block-info h4 {
	color: #061e37;
	display: none;
	font-size: 18px;
	margin: 0 auto;

}


.our-team-block-info p {
	color: #90a4ae;
	display: none;
	line-height: 25px;
	max-width: 650px;
	margin: 0 auto;
	opacity: 0.5;
	transition: 1.2s;

}

.our-team-block-info ul {
	align-items: flex-end;
	margin-top: 10px;
	display: none;
}

.our-team-block-info ul > li {
	margin: 0 15px;
}

.our-t-show-info-1:checked ~ .row-2 .our-team-avatar .avatar-1,
.our-t-show-info-2:checked ~ .row-2 .our-team-avatar .avatar-2,
.our-t-show-info-3:checked ~ .row-2 .our-team-avatar .avatar-3{
	transform: scale(1);
	transition: 3s;
	opacity: 1;

}


.our-t-show-info-1:checked ~ .row-2 .our-team-block-info .info-member-1,
.our-t-show-info-2:checked ~ .row-2 .our-team-block-info .info-member-2,
.our-t-show-info-3:checked ~ .row-2 .our-team-block-info .info-member-3{
	display: flex;
	justify-content: center;
	margin: 10px auto;
	transition: 1.2s;
	opacity: 1;
	visibility: visible;
}
/* - - - - End of styles for Our Team - - - - */





/* - - - - Beginning of styles for Contact-Us - - - - */
.contact-us {
	color: #061e37;
	margin-top: 135px;
}

.contact-us-form {
	text-align: center;
	margin: 0 auto;
	margin-top: 120px;
	max-width: 600px;
	
}

.contact-us-form input[type=text] {
	background: none;
	border: 1px solid #061e37;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 600;
	min-width: 280px;
	outline: none;
	padding: 10px 20px;
}


.form-row {
	margin-bottom: 20px;
}

.first-name {
	margin-right: 35px;
}

.e-mail {
	margin-right: 35px;
}




.cont-us-form-message {
	border: 1px solid #061e37;
	border-radius: 5px;
	max-width: 600px;
	margin-right: 40px;
	resize: none;
	width: 100%;
}

.row-send-mess {
	display: flex;
	max-width: 600px;
}


.send-mess {
	background: #1de9b6;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 5px;
	color: #fff;
	font-weight: 600;
	outline: none;
	padding: 15px 40px;
	margin-left: 250px;
}

.send-mess:hover,
.send-mess:focus {
	background-color: #061e37;
	transition: .7s;
}

::-webkit-input-placeholder { color: #061e37; }
::-moz-placeholder          { color: #061e37; } /* Firefox 19+ */
:-moz-placeholder           { color: #061e37; } /* Firefox 18- */
:-ms-input-placeholder      { color: #061e37; }

::-webkit-textarea-placeholder { color: #061e37; }
::-moz-placeholder          { color: #061e37; } /* Firefox 19+ */
:-moz-placeholder           { color: #061e37; } /* Firefox 18- */
:-ms-textarea-placeholder      { color: #061e37; }


textarea:-moz-placeholder { 
	color: #061e37;
	font-weight: 600;
}
textarea::-webkit-input-placeholder { 
	color: #061e37; 
	font-weight: 600;
	padding: 0px 0 0 10px;
}

/* - - - - End of styles for Contact-Us - - - - */





/* - - - - Beginning of styles for Footer - - - - */

footer {
	margin-top: 100px;
}


.footer-container {
	background-color: #061e37;
	padding-top: 100px;
	justify-content: space-between;
}


/* - - - - Beginning of styles for row-1 <footer> - - - - */
.footer-row-1 {
	justify-content: space-between;
	
}


footer nav {
	display: flex;
	justify-content: flex-end;
}


.footer-menu {
	display: flex;
	
}


.footer-menu a {
	color: #fff;
	font-size: 15px;
    transition: .4s;
	margin: 0 25px;
	outline: none;
}

/*
.footer-menu a:hover, .footer-menu a:focus {
	border-radius: 5px 8px;
	background-color:  #fff;
	color: #061e37;
	padding: 2px 0 2px 0;
}
*/


/* - - - - End of styles for row-1 <footer> - - - - */





/* - - - - Beginning of styles for row-2 <footer> - - - - */
.footer-row-2 {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.footer-row-2 ul {
	display: flex;
	color: #fff;
	padding: 0;
}


.legislative-information a {
	color: #fff;
	font-size: 15px;
	margin: 0 10px;
}


.our-links {
	align-items: flex-end;
	justify-content: flex-end;
	margin-right: 20px;
}

.our-links a {
	margin: 0 10px;
}

.our-links a:hover,
.our-links a:focus {
	outline: 1px solid #fff;
}

/* - - - - Styles for links in footer - - - - */
footer nav a:hover,
footer nav a:focus,
.legislative-information a:hover,
.legislative-information a:focus {
	border-radius: 5px 8px;
	background-color:  #fff;
	color: #061e37;
	padding: 2px 0 2px 0;
}

/* - - - - Styles for img in footer - - - - */


/* - - - - End of styles for row-2 <footer> - - - - */

/* - - - - End of styles for Footer - - - - */








































































































